<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Model Analysis</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light"><!-- start navbar -->
      <a class="navbar-brand" href="/analysis">SugiMachine</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Navigate
            </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="/">Home</a>
               <a class="dropdown-item" href="/analysis">Model Analysis</a>
             </div>
         </ul>
      </div>
    </nav><!--end navbar -->

<div class="container-fluid">
    <div class="row"><!--Body Content-->

        <div class="col-md-7"><!-- MAIN CONTENT -->
          <div class="container-fluid" id="main">
            <h2>Visuals</h2>

            <div class = "container-fluid" >

                <img class="visualizations img-fluid" src="https://github.com/Adebruler/SugiMachine/blob/master/static/images/Color%20Model%20Predictions.png?raw=true">


                <img class="visualizations img-fluid" src="https://github.com/Adebruler/SugiMachine/blob/master/static/images/Color%20Model%20Progress.png?raw=true">

            </div>


        </div>
        </div><!--END MAIN CONTENT -->

        <div class="col-md-5"><!-- SIDE BAR -->
          <div class="container-fluid" id="visual">
          <div class="teampictures">
          <h2>Developer</h2>

         <div class = "row">
            <div class="col-md-12">
              <div class="hvrbox">
              <img id="avatar" height="175" width="175" src="https://avatars3.githubusercontent.com/u/41015659?s=460&v=4" alt="Avatar" class="hvrbox-layer_bottom">
              <div class="hvrbox-layer_top">
                <a href="https://adebruler.github.io/ADeBruler-DataAnalyst/" target="_blank"><div class="hvrbox-text">Adam</div></a>
            </div>
          </div>
        </div>
  </div>

        </div><!-- END SIDE BAR -->
        <div class="info">
        <h2>Background</h2>
        <p>The SugiMachine is a recreational practice in machine learning to predict Pokémon's types based on their images (with the added bonus of assigning to types any picture you can imagine).</p>

        <p>The model is named after renowned manga illustrator Ken Sugimori, who is most famous for his official illustrations of Pokémon.</p>

        <p>Using Pokémon for data analysis practice was a natural choice because their a large but discrete number of Pokémon (809) that are diverse but catergorical and have many stats of their own.</p>

  <h2>Process</h2>
  <p>The model was
    <a href="https://github.com/Adebruler/Pkmn_Img_Recognition/blob/master/Color%20Image%20Training%20-%20Small.ipynb">trained using a Keras CNN</a>
     on Ken Sugimori's Pokémon illustrations which were
     <a href="https://github.com/Adebruler/Pkmn_Img_Recognition/blob/master/Image%20Extract%20and%20Pokedex%20Table.ipynb">scraped from Bulbapedia using Beautiful Soup.</a></p>

  <h2>Complications</h2>
  <p>Every Pokémon has either one or two types, and it is not reasonable to assume which from a picture alone. The model was given all types during training, but keras is natively optimized to return one prediction. Sugimachine returns the top two predictions (if a second is given any confidence at all,) irrespective of the input.
  </p>
  <p>A reasonable modified accuracy metric returns 0.5 for each type correct on a two-type Pokémon, and returns a 1.0 if the first-guess was correct for a one-type Pokémon or 0.5 if the second-guess was correct. Otherwise 0.0 accuracy is returned. By this metric, the model is <strong>38% accurate</strong>.
  </p>
  <p>Because there are a relatively large number of types (18) for a relatively small number of Pokémon (809)--and because the Pokémon are diverse within their types--the model is prone to overtraining, which may be seen on the Model Progress chart to the left.
  </p>

  <h2>Future Updates</h2>
  <p>A grayscale model has been trained and will be implemented to compare how color-dependent the current model is.
  </p>
  <p>A page grouping the pictures of all Pokémon by type and the accuracy of their predictions.
  </p>
  <p>A database of images uploaded by user with input types (verified by other users) to add to future training data.
  </p>

</div>

      </div>

    </div><!-- End Body Content -->
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
