{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row"><!--Body Content-->

        <div class="col-md-12 {{vis_1}}"><!-- MAIN CONTENT -->
          <div class="container-fluid" id="main">
            <h2>Wild Encounter</h2>

            <div class = "container-fluid" id="img_upload">
            <p><img class="img-fluid" id="output" width="200" src="/static/images/SugimoriPokeBall.png"></p>


            <form method=post enctype=multipart/form-data>
              <p><input type=file name=file accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;" required></p>
              <p><button type="button" class="btn btn-custom"><label class="image-sub" for="file" style="cursor: pointer;">Select An Image</label></button></p>
              <input type="text" name="pokename" placeholder="Give it a name!" aria-label="Search" id="pokename" required>
              <p><input type=submit value=Upload></p>
            </form>
          </div>

  <p>

          </div>
        </div><!--END MAIN CONTENT -->

        <div class="col-md-12 {{vis_2}}"><!-- SIDE BAR -->
          <div class ="container-fluid" id="visual">
          <h2>{{wtp}}</h2>
    <!-- <div class="thumbnail"> -->
          <img class="img mx-auto d-block" id="wtp" width="200" src={{wtp_img}}>

            <!-- <div class="table-responsive"> -->
              <table class="table text-center table-borderless" style:"width=200">
                <tbody>
                  <tr>
                    <td width="100"><strong>{{type_1}}</strong></td>
                    <td width="100"><strong>{{type_2}}</strong></td>
                  </tr>
                </tbody>
              </table>
              <a href="/"><div class="text-center"><button type="button" name="refresh" class ="btn btn-custom">Back</button></div></a>
            <!-- </div> -->
    <!-- </div> -->

          </div>

        </div><!-- END SIDE BAR -->
      </div>

    </div><!-- End Body Content -->
</div>
{% endblock %}
